*
.*
!.bash_aliases
!.bashrc
!.gitconfig
!.gitignore
!.irssi/
!.irssi/config
!.mailrc
!.msmtprc
!.tmux.conf
!.vim/
!.vim/*
.vim/.netrwhist
!.vim/**/*
.vim/spell/*
!.vim/spell/*.add
!.vimrc
!.Xdefaults
!.xmonad/
!.xmonad/xmonad.hs
!.zsh_aliases
!.zshrc
