*
.*
!.bash_aliases
!.bash_profile
!.bashrc
!.emacs.d
!.gitconfig
!.gitignore
!.mpv/
!.mpv/config
!.msmtprc
!.profile
!.tmux.conf
!.vim/
!.vimrc
!.vimkeymap
!.xbindkeysrc
!.Xdefaults

!.config
.config/*
!.config/fish
.config/fish/*
!.config/fish/config.fish
!.config/alacritty
!.config/alacritty/*
!.config/i3
!.config/i3/*
!.config/doom
!.config/doom/*
