*
.*
!.bash_aliases
!.bash_profile
!.bashrc
!.emacs.d
!.gitconfig
!.gitignore
!.irssi/
!.mailrc
!.mpv/
!.mpv/config
!.msmtprc
!.nixpkgs/
!.nixpkgs/*
!.nixpkgs/local/
!.nixpkgs/local/*
!.profile
!.spacemacs
!.tmux.conf
!.vim/
!.vimrc
!.vimkeymap
!.xbindkeysrc
!.Xdefaults
!.xmonad/

!.config
.config/*
!.config/fish
.config/fish/*
!.config/fish/config.fish
