{{- if eq .chezmoi.hostname "jannis-desktop" }}
env = GBM_BACKEND,nvidia-drm
env = __GLX_VENDOR_LIBRARY_NAME,nvidia
env = LIBVA_DRIVER_NAME,nvidia

monitor=HDMI-A-1,1920x1080@60,0x0,1
monitor=DP-2,2560x1440@144,1920x0,1
{{- else if eq .chezmoi.hostname "jannis-bizlappy" }}
monitor=eDP-1,2560x1600@60,auto,1.6
{{- end }}

monitor=,preferred,auto,1
